*
{
	padding: 0px;
	margin: 0px;
}
body
{
	background: skyblue;
}
#btn1
{
	margin-left: 500px;
	padding: 10px 20px;
	background: green;
	color: white;
	border-radius: 10px;

}
#btn2
{
	margin-left: 50px;
	padding: 10px 20px;
	background: green;
	color: white;
	border-radius: 10px;
}
#text
{
	display: none;
	margin: 10px 550px;
	line-height: 30px;

}
#text table
{
	background: #5f2d8e;
	width: 450px;
}
#text td
{
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	color: white;
}
#text td input
{
	font-size: 20px;
	border-radius: 20px;
	padding-left: 20px;
}
#text table button
{
	padding: 5px 20px;
}

#text1
{
	display: none;
	margin: 10px 550px;

}
#text1 th 
{
	font-size: 20px;
	padding: 5px 20px;
	background: blue;
	color: white;
}
#text1 table tbody
{
	background: yellow;
	font-size: 20px;
	padding: 5px;
}
.btu
{
	background: #531741;
	padding: 30px 50px;
}

#save
{
	padding: 10px 30px;
	background: green;
	border-radius: 10px;
}
.logo
{
	text-align: center;margin-top: 220px;
	font-size: 40px;
	animation-iteration-count:infinite;
	animation-duration: 1s;
	border: 2px solid black;
	margin: 240px 320px 290px 320px;
	padding: 10px;
	background: yellow;
	border-radius: 30px;
}
.item{
  width: 30px;
  height: 30px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 50%;
}
.item{
  width: 30px;
  height: 30px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 50%;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:98%; top:0px;}
  50%  {background-color:blue; left:98%; top:620px;}
  75%  {background-color:green; left:0px; top:620px;}
  100% {background-color:red; left:0px; top:0px;}
}

